* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* utility-classes */
.background {
  position: relative;
}
.background::before {
  content: "";
  background-image: url(images/fashion2.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.btn-nv {
  font-family: "Dosis", sans-serif;
  padding: 0.3rem;
  border-radius: 0.6rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  background: white;
  box-shadow: -2px -2px black;
  cursor: pointer;
}
.btn-nv:hover {
  box-shadow: 2px 2px black;
}
.btn {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 0.6rem;
  font-size: 1.3rem;
  color: black;
  box-shadow: -2px -2px black;
  background: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px black;
  /* background: rgb(227, 202, 202); */
}
.para-primary {
  font-family: "Rubik Dirt", cursive;
  font-size: 3rem;
  margin: 2rem;
}
.para-secondary {
  font-family: "Bacasime Antique", serif;
  font-size: 1.8rem;
  padding-left: 2rem;
}
.para-about {
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  /* padding-left: 2rem; */
}
.normal-heading {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #b82c2c;
  font-size: 3rem;
}
/* Navigation-bar */

.logo {
  display: flex;
  justify-content: center;
  width: 20%;
}
.logo img {
  width: 40%;
  height: 100%;
  border: 2px solid black;
  border-radius: 2rem;
  /* filter: invert(100%); */
  margin: 0.2rem;
}
#navbar {
  display: flex;
  background: #d2691e8c;
  position: fixed;
  width: 100%;
  height: 9.5vh;
  top: 0;
  z-index: 1;
  align-items: center;
}
#nav-items {
  box-sizing: border-box;
  display: flex;
  width: 50%;
  align-items: center;
}
#nav-items li {
  list-style: none;
  padding: 0.1rem 0.6rem;
}
#nav-items li a {
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.2rem;
}
#nav-items li a:hover {
  box-shadow: 0.1rem 0.1rem black;
}
#right-nav {
  width: 50%;
  text-align: right;
  padding-right: 1rem;
}

#search {
  background-color: transparent;
  color: black;
  border: none;
  box-shadow: 0rem 0.1rem white;
  margin-right: 1rem;
  width: 2rem;
  height: 1rem;
  width: 16rem;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.3rem;
}
#search::placeholder {
  color: black;
  font-family: "Cabin", sans-serif;
  font-size: 1.1rem;
}
#search:hover {
  background-color: white;
  box-shadow: 0rem 0.1rem black;
}

/* section-home */
#home {
  display: flex;
  align-items: center;
  height: 85vh;
}
.home-left {
  flex-grow: 1 0 0;
}
.home-right {
  flex: 1 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-gap: 1rem; */
}

.home-items {
  padding: 1.1rem 1rem 0.5rem 1rem;
  transition: all 0.5s ease-in-out 0.1s;
}
.home-items:hover {
  transform: scale(1.05);
}
.home-items img {
  width: 9rem;
  height: 7.7rem;
}
.para-1 {
  padding: 1rem;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

/* section-styles */
#Styles {
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  height: 85vh;
}

.styles-left {
  /* border: 2px solid black; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.styles-middle {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.styles-middle img {
  object-fit: fill;
  border-radius: 2rem;
  height: 100%;
  width: 100%;
}
.styles-right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid yellow; */
}
.style-heading {
  /* border: 2px solid black; */
  padding: 0.7rem 0.7rem 0.7rem 7.7rem;
  /* text-align: center; */
}

/* Section-explore(2nd Section   */
.explore-heading {
  padding: 0.7rem 0.7rem 0.7rem 7.7rem;
}
#Explore {
  /* background-color: lightcoral; */
  height: 90vh;
}

.explore-box {
  display: flex;
  justify-content: space-evenly;
  /* background-color: lightblue; */
  margin: auto;
  width: 90%;
}

.explore-items {
  /* border: 2px solid black; */
  width: 30%;
  height: 70vh;
  display: flex;
  align-items: end;
  border-radius: 1.5rem;
  transition: all 1s ease-in-out 0.1s;
}
.explore-items:hover {
  transform: scale(1.05);
}
.background-men {
  background-image: url(images/men.jpg);
  background-position: 40% center;
  background-size: cover;
}
.background-women {
  background-image: url(images/wom2.jpg);
  background-position: center;
  background-size: cover;
}
.background-kids {
  background-image: url(images/women.jpg);
  background-position: center;
  background-size: cover;
}
.button-explore {
  margin: 1rem;
}

/* Section-About */
#About {
  background-color: #f2e8cc;
  height: 50vh;
}
.about-container-para {
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  width: 83%;
  margin: auto;
}
.about-heading {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: #b82c2c;
  font-size: 2rem;
}
.about-container-heading {
  margin-top: 0.8rem;
  padding: 0.1rem;
  text-align: left;
}
.logo-links {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  margin-top: 1.6rem;
}
.logo-image {
  width: 6rem;
  height: 6rem;
  transition: all 0.6s ease-in 0.1s;
  cursor: pointer;
}
.logo-image:hover {
  transform: scale(1.15);
}
.logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */
footer {
  text-align: center;
  background-color: rgb(187, 182, 182);
  padding: 0.3rem;
}

/* Featured-section */
.video-box{
  /* border: 2px solid black; */
  width: 100%;
  height: 100vh;
}
#vid{
  /* border: 2px solid black; */
  margin: auto;
  width: 83%;
  height: 100%;
}
#vid video{
  /* border: 2px solid black; */
  /* margin: auto; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.vid-title{
  text-align: center;
}